#### Regression in Neural Networks
Neural networks are reducible to regression models—a neural network can “pretend” to be any type of regression model. For example, this very simple neural network, with only one input neuron, one hidden neuron, and one output neuron, is equivalent to a logistic regression. It takes several dependent variables = input parameters, multiplies them by their coefficients = weights, and runs them through a sigmoid activation function and a unit step function, which closely resembles the logistic regression function with its error term. 

<img src='https://lh3.googleusercontent.com/-nUNjunrXpkI/XiL1TRaS__I/AAAAAAAABy4/s8qvkXHB8y4fCGqhVv-A4lGlE9Gowz0ngCK8BGAsYHg/s0/2020-01-18.png'/>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
Data = pd.read_csv('https://raw.githubusercontent.com/reddyprasade/Data-Sets-For-Machine-Learnig-and-Data-Science/master/DataSets/FuelConsumption.csv')
Data.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [4]:
Data.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [5]:
X = Data[['CYLINDERS']]
Y = Data['CO2EMISSIONS']

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [2]:
from sklearn.linear_model import Perceptron

In [9]:
Model = Perceptron()

In [10]:
Model.fit(X_train,Y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [11]:
Train_score = Model.score(X_train,Y_train)
Train_score

0.00375

In [13]:
Test_score = Model.score(X_test,Y_test)
Test_score

0.003745318352059925

In [16]:
print("For 4 Cylinders the Co2 Is",Model.predict([[4]]))

For 4 Cylinders the Co2 Is [299]

### Multilayer Perceptron
![](https://www.allaboutcircuits.com/uploads/articles/an-introduction-to-training-theory-for-neural-networks_rk_aac_image2.jpg)

In [74]:
from sklearn.neural_network import MLPRegressor

In [94]:
x = Data.drop(['CO2EMISSIONS','MODELYEAR','MAKE','MODEL','VEHICLECLASS','TRANSMISSION','FUELTYPE'],axis=1)
x.head()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG
0,2.0,4,9.9,6.7,8.5,33
1,2.4,4,11.2,7.7,9.6,29
2,1.5,4,6.0,5.8,5.9,48
3,3.5,6,12.7,9.1,11.1,25
4,3.5,6,12.1,8.7,10.6,27

In [95]:
y= Data.CO2EMISSIONS

In [96]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y)

In [97]:
Models = MLPRegressor(max_iter=2000,hidden_layer_sizes=(10,10,10),early_stopping=True,activation='relu')

In [98]:
Models.fit(X_train,Y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=True, epsilon=1e-08,
             hidden_layer_sizes=(10, 10, 10), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=2000,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [99]:
Models.score(X_train,Y_train)*100

90.63565079270714

In [100]:
Models.score(X_test,Y_test)*100

91.63481217020777

In [101]:
Predict = Models.predict(X_test)

In [102]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
pd.DataFrame({'Actual':Y_test,
             'New_Prediaction':Predict,
             "Error":mean_absolute_error(Y_test,Predict)}
            )

      Actual  New_Prediaction      Error
353      248       252.488985  11.205804
303      237       239.608395  11.205804
753      310       319.789701  11.205804
35       361       372.455538  11.205804
474      322       356.676627  11.205804
...      ...              ...        ...
223      414       339.306901  11.205804
654      342       347.164740  11.205804
1061     258       257.181110  11.205804
228      413       374.654056  11.205804
674      269       270.928118  11.205804

[267 rows x 3 columns]